    <!-- header -->

    <%- include('header.ejs') -%>

        <div class="center errorAllign">
            <p class="display-3">UH OH! SOMETHING WENT WRONG</p>
            <p class="display-4"><%= msg %></p>
        </div>
        
    <!-- footer -->

    <%- include('footer.ejs') -%>